name: Build and Deploy

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      id-token: write
      contents: read
    concurrency:
      group: churchtechcareers
      cancel-in-progress: false
    outputs:
      SHORT_SHA: ${{ steps.setvars.outputs.SHORT_SHA }}
      REPO_NAME: ${{ steps.setvars.outputs.REPO_NAME }}
      DEPLOY_ENV: ${{ steps.setvars.outputs.DEPLOY_ENV }}
    steps:
      - uses: actions/checkout@v4

      - name: Set Vars
        id: setvars
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | head -c7)
          echo "SHORT_SHA=${SHORT_SHA}" >> $GITHUB_ENV
          echo "SHORT_SHA=${SHORT_SHA}" >> $GITHUB_OUTPUT
          REPO_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')
          echo "REPO_NAME=${REPO_NAME}" >> $GITHUB_ENV
          echo "REPO_NAME=${REPO_NAME}" >> $GITHUB_OUTPUT
          # figure out which ENV we should deploy for
          echo "GITHUB_REF_TYPE: ${GITHUB_REF_TYPE}"
          if [ "${GITHUB_REF_TYPE}" = "tag" ]
          then
            export DEPLOY_ENV='prod'
          else
            export DEPLOY_ENV='dev'
          fi
          if [ "${DEPLOY_ENV}" = "prod" ]
          then
            S3_BUCKET='churchtechcareers.com'
            CLOUDFRONT_DIST_ID='E39QF2DY5PGIJ7'
          else
            S3_BUCKET='dev.churchtechcareers.com'
            CLOUDFRONT_DIST_ID='E16OKFMC1S0SOO'
          fi
          echo "S3_BUCKET=${S3_BUCKET}" >> $GITHUB_ENV
          echo "CLOUDFRONT_DIST_ID=${CLOUDFRONT_DIST_ID}" >> $GITHUB_ENV
          echo "DEPLOY_ENV=${DEPLOY_ENV}" >> $GITHUB_ENV
          echo "DEPLOY_ENV=${DEPLOY_ENV}" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Cache Node Modules
        id: cache-nodemodules
        uses: actions/cache@v4
        with:
          key: churchtechcareers-${{ hashFiles('package-lock.json') }}
          path: |
            node_modules

      - name: NPM Install
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: npm install

      - name: NPM Generate
        run: npm run generate

      - name: Deploy Static Files to S3
        run: |
          cd .output/public
          aws s3 sync . s3://${{ env.S3_BUCKET }}/ --delete

      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ env.CLOUDFRONT_DIST_ID }} --paths '/*'
